body{
    display: inline-flex;
}

#CON1{
    
    
}  

#PE{
    background-color: red;
}

#CON2{

    
}
    


#PP{
    background-color: yellow;
}

#CON3{

    
}

#PR{
    background-color: green;
}