* {
    margin:0;
    padding:0;
}

#CON1 {
    position:absolute;
    margin-left: 3%;
    width:200px;
    margin-top:10px;
    margin-right: 20px;
    top:0px;
    left:0px;
}

#CON2 {
    margin-left:25%;
    margin-right:20px;
    margin-top:10px;
    width:200px;
    position:absolute;
    top:0px;
    left:0px;
}

#CON3 {
    margin-left: 50%;
    margin-right:20px;
    margin-top:10px;
    width:200px;
    position:absolute;
    top:0px;
    left:0px;
    justify-content: center;
}

#CON4 {
    margin-left: 75%;
    margin-right:20px;
    margin-top:10px;
    width:200px;
    position:absolute;
    top:0px;
    left:0px;
}

#Boton-volver{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

h2{
    text-decoration: underline;
    text-align:center;
    font-size: 30px;
    font-family: monospace;
    padding-bottom: 9px;    
}